<div class="p-4">
    <div class="container">
      
        <table class="table table-striped">  
            <thead>  
                <tr>  
                  <th>ID</th>  
                  <th>FirstName</th>                    
                  <th>LastName</th> 
                  <th>Email</th>   
                </tr>  
            </thead>  
            <tbody>  
                <td>{{ user.id}}</td>  
                <td>{{ user.firstName }}</td>  
                <td>{{ user.lastName}}</td>  
                <td>{{ user.username }}</td>  
            </tbody>  
          </table>  
    </div>
</div>